
<div>Color 1: {{gorras}}</p>

</div>

<table>
    <thread>
        <tr>
            <th>Color 1</th>
            <th>Color 2</th>
            <th>Color logo</th>
            <th>Marca</th>
            <th>Añadido el día</th>
            <th>URL foto</th>
            <th>Precio unitario</th>
            <th>Stock inicial</th>
            <th>Stock actual</th>
            <th>Descripción</th>
            <th></th>
        </tr>
    </thread>
    
    <tbody>
        
        {% for gorra in gorras %}
        <tr>
            <td>{{ gorra.color1 }}</td>
            <td>{{ gorra.color2 }}</td>
            <td>{{ gorra.color_logo }}</td>
            <td>{{ gorra.marca }}</td>
            <td>{{ gorra.creation_date }}</td>
            <td>{{ gorra.photo }}</td>
            <td>{{ gorra.unit_price }}</td>
            <td>{{ gorra.initial_stock }}</td>
            <td>{{ gorra.current_stock }}</td>
            <td>{{ gorra.description }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
